div.window{
  position: absolute;
  top:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  div.pictues{
    display: flex;
    position: relative;
    width: 300vw;
    left: -50vw;
  }
}
